.navWrapper {
    background-color: rgba(68,72,77,1);
    width: 100vw;
    padding-top: 1em;
    padding-bottom: 1em;
    position: fixed; top: 0;
    left: 0;
    z-index: 100;
}
.navWrapper a {
    color: rgba(255,255,255,1);
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .1em;
}
.mainNav {
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, auto);
    align-items: center;
    justify-items: center;
}
@media screen and (max-width: 400px) {
    .navWrapper {  
        display: none; 
    }
   .mainNav {
        grid-template-columns: repeat(4,auto);
        font-size: .8em;
   }
   .navWrapper a:nth-child(5) {
    display: none;
   }

}