.hero {
    background-image: url(../images/photo-1666365646833-dbd5c3efdf50.avif);
    height: 60vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;position: relative;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#fff;
}


.heroContainer {
    border: 1px solid #000;
    max-width: 70%;
    margin: 0 auto;
    position: relative;
    padding: 2em;
    background-color: rgba(108, 118, 110, 0.349);
    text-align: center;
}
.heroInfo h1 {
    font-size: 3em;
    margin-bottom: .5em;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.heroInfo p {
    font-size: 1.2em;
    letter-spacing: 0.08em;
}
.heroButton {
    background-color: rgba(10, 58, 32, 0.446);
    border:rgb(255, 255, 255) 1.5px solid;
    padding: .5em;
    color:rgba(24, 71, 40, 0.502)
}